@{
  Layout = "_Layout";
}

<div class="container">
  <form action="/game" method="post">
    <div class="form-group">
      <label for="new-word">Enter the word to be guessed</label>
      <input class="form-control" type="text" id="new-word" name="new-word">
    </div>
    <button type="submit" class="btn btn-primary">Start Game</button>
  </form>
</div>
