@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="jumbotron">Welcome to the Word Counter Form</h1>
  <p>You can enter master word and make a list of other words to compare them to the master word. The user can then adjust the list of word or <strong><em>even</em></strong> pick a new master word.</p>
  <form action="/words" method="post">

    <button type="submit" class="btn btn-primary">Fill out the Forms</button>
  </form>
</div>
