@{
  Layout = "_Layout";
}

<div class="container">
  <div class="image">
    <img src="~/img/@Hangman.Models.Guess.GetImg()">
  </div>
  <form class="" action="/game/new" method="get">
    <button type="submit" class="btn btn-primary">Start Guessing</button>
  </form>

</div>
